# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.tgz
.cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist

# OS
Thumbs.db
